.idea/*
jjqnr.iml
target/*
web/app/.DS_Store
web/app/node_modules/*
web/app/dist/*
web/app/npm-debug.log*
web/app/yarn-debug.log*
web/app/yarn-error.log*
web/app/test/unit/coverage/*
web/app/test/e2e/reports/*
web/app/selenium-debug.log
web/app/.idea/*
web/app/.vscode
web/app/*.suo
web/app/*.ntvs*
web/app/*.njsproj
web/app/*.sln
